div,input,textarea {
    box-sizing: border-box;
}


body {
    margin: 0px;
}

.main-div {
    width: 100%;
    padding: 10px;
    height: 500px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}
.w-50 {
    width:50%;
    float: left;
    padding: 10px;
}

.form-background {
    background-color: black;
    padding: 30px;

}

.form-white {
    background-color: white;
    padding: 50px;
    width: 80%;
    max-width: 600px;
    margin: auto
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-long {
    height: 300px;
}

.yellow-button {
    padding: 10px;
    display: block;
    margin-left: auto;
}


.cart-background {
    width: 100%;
    padding: 20px;
    background-color: #c2d3de;
}

.cart-form-container {
    width: 90%;
    max-width: 700px;
    margin: auto;
    background-color: white;
}
.cart-table {
    background: white;
    width: 100%;
    border-collapse: collapse;
    border-radius: 7px;
}

.cart-table td, .cart-table th {
    border-bottom: 1px solid #c2d3de;
}

td,th {
    padding: 15px;
}

.cart-img {
    width : 20%;
}
.cart-item {
    width : 50%;
    text-align: left;
}
.cart-quantity {
    width : 10%;
}
.cart-price {
    width : 15%;
}
.cart-amount {
    width : 20%;
}

.btn {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-coral {
    background-color: coral;
    color: white;
}


.btn-coral:hover {
    background-color: chocolate;
}
/* 
.btn:focus {
    background-color: coral;
}
 */
 .btn-coral:active {
    background-color: rgb(150, 75, 22);
}

.btn-brown {
    background-color: brown;
    color: white;
}
.btn-brown:hover {
    background-color: coral;
}
 .btn-brown:active {
    background-color: rgb(150, 75, 22);
}

.custom-link {
    text-decoration: none;
}
.custom-link:link {
    color:black;
}
.custom-link:visited {
    color:red;
}